{% extends "base.html" %}
{% block title %}Add Mechanic{% endblock %}

{% block content %}
<h2>Add Mechanic</h2>

<form method="POST">

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Phone</label><br>
    <input type="text" name="phone" required><br><br>

    <label>Specialization</label><br>
    <input type="text" name="specialization"><br><br>

    <label>
        <input type="checkbox" name="is_available" checked>
        Available
    </label><br><br>

    <button class="btn btn-success">Save</button>
    <a href="{{ url_for('ui.mechanics_list') }}" class="btn btn-danger">
        Cancel
    </a>

</form>
{% endblock %}
